/**************************
    CSS Reset
***************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**************************
    Variables
***************************/

:root {
  /* Primary colors */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral colors */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);

  --primary-font: "Kumbh Sans", sans-serif;
}

/**************************
    Global Styles
***************************/
body {
  font-family: var(--primary-font);
}

/**************************
    FAQ Card Styles
    Mobile First
***************************/
